{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página administrador</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/admin_log.css' %}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

    <div class="contenedor">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'core/img/inicio2.png' %}" alt="" width="200" height="100" class="d-inline-block align-text-top">
            <h1>
              <p class="titulo">RAYO MAKWEEN</p>
              <p class="state">Jhonny Mellaboh (Admin), CONECTADO</p>
            </h1>
          </a>
        </div>
      </nav>

      <h2 style="text-align: center;">
          BIENVENIDO, ADMINISTRADOR.
      </h2>

      <div class="menu">

        <div class="row">
            <div class="col-4">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="home">Revisión publicaciones</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Crear usuario para empleado</a>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list" style="font-size: xx-large;">
                    LISTADO
                    <br>
                    <br>
                    <h4>
                        > Juan Vereda
                    </h4>
                    <h4>
                        Registro de Atención: 12/02/2021
                        <a href="pendiente" class="btn btn-secondary btn-lg" style="background-color: darkblue;" tabindex="-1" role="button" aria-disabled="false">
                            Revisar
                        </a>
                    </h4>
                    <br>
                    <h4>
                        > Francisco Sáez
                    </h4>
                    <h4>
                        Registro de Atención: 05/02/2021
                        <a href="pendiente" class="btn btn-secondary btn-lg" style="background-color: darkblue;" tabindex="-1" role="button" aria-disabled="false">
                            Revisar
                        </a>
                    </h4>
                    <br>
                    <h4>
                        > Tamala Tumoto
                    </h4>
                    <h4>
                        Registro de Atención: 01/02/2021
                        <a href="pendiente" class="btn btn-secondary btn-lg" style="background-color: darkblue;" tabindex="-1" role="button" aria-disabled="false">
                            Revisar
                        </a>
                    </h4>
                    <br>
                    <h4>
                        > Juan Vereda
                    </h4>
                    <h4>
                        Registro de Atención: 01/02/2021
                        <a href="pendiente" class="btn btn-secondary btn-lg" style="background-color: darkblue;" tabindex="-1" role="button" aria-disabled="false">
                            Revisar
                        </a>
                    </h4>
                    <br>


                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
              </div>
            </div>
          </div>


      </div>

      

    </div>
    
</body>
</html>