{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <div class="contenedor">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'core/img/inicio2.png' %}" alt="" width="200" height="100"
            class="d-inline-block align-text-top">
          <h1>
            <p class="titulo">SERVIEXPRESS</p>
          </h1>

        </a>
      </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'employ' %}">
          <img src="{% static 'core/img/home.png' %}" alt="" width="30" height="24"
            class="d-inline-block align-text-top">
          Volver Atrás
        </a>
      </div>
    </nav>
    <div
      style="background-color: whitesmoke; color: darkolivegreen; padding-left: 30%; padding-right: 30%; padding-top: 5%; padding-bottom: 5%;">
      <h2 class="text-center">Ingreso de clientes</h2>
      <img class="img-fluid mx-auto d-block rounded" src="{% static 'core/img/cliente1.jpg' %}" />
      <form action="" method="POST">

        {% csrf_token %}

        <div class="form-group">

          {{ form.as_table}}

        </div>
        <br>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Guardar producto</button>
        <br>
        <div id="error" class="alert alert-warning" role="alert">
          {{mensaje}}
        </div>


      </form>
      <br>

    </div>
  </div>

  

</body>

</html>