{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taller SERVIEXPRESS - Principal</title>

  <!--    BOOTSTRAP    -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <style>
    label.error {
      color: red;
      font-style: italics;
      line-height: 50px;
    }

    input.error {
      border-color: red;
    }

    /*Lo que sigue, fue para cambiar el estilo del "somreado azul que aparecía,
            para que aparezca como rojo cuando te pide que lo valides.*/
    input.error:focus {
      border-color: red;
      box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
    }
  </style>

  <!--    API DE MAPBOX    -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

  <!--    AQUÍ LOS .CSS    -->
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
  <!--    BOOTSTRAP Y API    -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js">
  </script>



  <!--  CONTENIDO DE LA PÁGINA   -->
  <div class="header">
    <img src="{% static 'core/img/inicio2.png' %}" alt="" width="200" height="100">
    <div class="welcome">
      <h6>
        TALLER MECÁNICO
      </h6>
      <h3>
        SERVIEXPRESS
      </h3>
    </div>
    <div class="state">
      <h6>
        Bienvenido, cliente.
      </h6>
    </div>

  </div>

  <div class="main">
    <!--    MENÚ    -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:larger; color: white;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="reserva_hra">Reserva de horas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Últimos trabajos destacados
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="gonzalo">Gonzalo Tobar (4)</a></li>
                <li><a class="dropdown-item" href="francisco">Francisco Sáez (4)</a></li>
                <li><a class="dropdown-item" href="guido">Guido Toro (3)</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="catalogo"> Cátalogo de productos </a>
            </li>
          </ul>
        </div>


      </div>
    </nav>

    <div class="catchphrase">
      <div
        style="background-color: darkslategray; color: white; display: flex; flex-direction: column; text-align: center; padding-top: 4%; padding-left: 2%; padding-right: 2%;">

        <div class="row2">
          <img src="{% static 'core/img/smartphone.png' %}">
          <br>
          <label style="font-size: 20px;">+56-929395206</label>
        </div>

        <br>

        <div class="row2">
          <img src="{% static 'core/img/contact.png' %}">
          <label style="font-size: 20px;">contacto@serviexpress.cl</label>
        </div>

      </div>
      <div class="text" style="padding: 2%; text-align: center;">
        <h1>
          ¡Atiéndete con nosotros!
        </h1>
        <h4>
          En SERVIEXPRESS, proporcionamos la mejor experiencia posible en la mantención o reparación de tu
          auto, con una decidida orientación a la excelencia, al trabajo bien hecho con transparencia y el
          trato cercano y personalizado con nuestros clientes.
        </h4>
      </div>

      <img src="https://ak.picdn.net/shutterstock/videos/1048936498/thumb/10.jpg?ip=x480" alt="happy_she_mechanic"
        style="width: 400px;">

    </div>

    <!--    MAPA   -->
    <div class="mapa">
      <div class="mapbox" id='map' style='width: 100%; height: 300px;'></div>

      <div>
        <h3>
          Ubica nuestra sucursal en Vicuña Mackenna 690, Melipilla, RM
        </h3>
        <br>
        <h4>
          ATENDEMOS:
        </h4>
        <h4>
          Lu-Vi | 9AM-1PM; 2PM-6PM
        </h4>
        <h4>
          Sa | 10AM-1PM; 2PM-4PM
        </h4>

      </div>
    </div>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JlZW50aWUiLCJhIjoiY2twajJycGN6MTR1MTJ2bzllYTZtbnAzcCJ9.JcnL9u1fz4LfhXr5Th1L6g';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-71.215741, -33.679449],
        zoom: 15
      });

      map.addControl(new mapboxgl.NavigationControl());
      map.addControl(new mapboxgl.FullscreenControl());

      map.on("load", function () {
        /* Image: An image is loaded and added to the map. */
        map.loadImage("https://i.imgur.com/MK4NUzI.png", function (error, image) {
          if (error) throw error;
          map.addImage("custom-marker", image);
          /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
          map.addLayer({
            id: "markers",
            type: "symbol",
            /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
            source: {
              type: "geojson",
              data: {
                type: 'FeatureCollection',
                features: [
                  {
                    type: 'Feature',
                    properties: {},
                    geometry: {
                      type: "Point",
                      coordinates: [-71.215741, -33.679449],
                    }
                  }
                ]
              }
            },
            layout: {
              "icon-image": "custom-marker",
            }
          });
        });
      });
    </script>

    <div class="medbox">
      <div class="carrusel" style="width: 50%;">
        <!--    CARRUSEL DE IMÁGENES   -->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'core/img/electronica3.jpeg' %}" class="d-block w-100" alt="..."
                style="height: 400px;">
              <div class="carousel-caption d-none d-md-block" style="background-color: darkslategray;">
                <a href="pantallaelectronica">
                  <h5>Electronica de automóvil </h5>
                </a>
                <p>Arreglo Electrónico.</p>

              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'core/img/caja1.jpg' %}" class="d-block w-100" alt="..." style="height: 400px;">
              <div class="carousel-caption d-none d-md-block" style="background-color: darkslategray;">
                <a href="cajacambio">
                  <h5>Caja de Cambio</h5>
                </a>
                <p>Reparación por fallas</p>

              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'core/img/direccion.jpeg' %}" class="d-block w-100" alt="..." style="height: 400px;">
              <div class="carousel-caption d-none d-md-block" style="background-color: darkslategray;">
                <a href="pantalladireccion">
                  <h5>Suspensión y Dirección</h5>
                </a>
                <p>Reparación de dirección y mantenimiento de suspensión.</p>

              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      </div>

      <div
        style="width: 50%; text-align: center; padding-top: 3%; padding-bottom: 10%; padding-left: 6%; padding-right: 6%;">
        <h2>
          Revisión
          <h6>
            Regístrate como cliente para agendar tu hora online, y acceder a más servicios.
          </h6>
        </h2>
        <h2>
          Productos
          <h6>
            Accede a una variedad de productos para tu vehículo, de los mejores proovedores del mercado.
            Revisa nuestro catálogo de productos disponibles en el local, o accede a tu cuenta para pedidos
            online.
          </h6>
        </h2>
        <h2>
          Vehículos
          <h6>
            Atendemos vehículos particulares y de empresas. Contamos con especialistas en todas las áreas de
            la mecánica, por lo que todo se podrá resolver en el mismo taller.
          </h6>
        </h2>
      </div>

    </div>





    <!--    INFORMACIÓN ADICIONAL   -->

    <div class="container-body">

      <div class="col" style="width: 25%; padding: 2%">
        <h2>Generamos Alianzas y Convenios con Empresas.</h2>

        <p>Deje en nuestras manos la mantención de su flota de vehículos.
          Aproveche los beneficios y todo el soporte técnico que le ofrecemos al conformar una Alianza con
          nosotros y
          así podrá obtener ahorros para su empresa y estaremos atentos para coordinar en forma oportuna
          las
          mantenciones necesarias para su flota de vehículos, de este modo evitará el riesgo de que sus
          vehículos
          queden detenidos por algún desperfecto mecánico o eléctrico.
          Contáctanos para que coordinemos una reunión y seas parte de nuestra Alianza.
        </p>

      </div>

      <div class="col" style="width: 25%; padding: 2%; justify-content: center;">

        <h2>Redes Sociales</h2>

        <div class="row">
          <img src="{% static 'core/img/facebook.png' %}" style="height: 50px; width: 70px;">
          <label>Siguenos en Facebook Mecanicos Servexpress</label>
        </div>
        <div class="row">
          <img src="{% static 'core/img/twitter.png' %}" style="height: 50px; width: 70px;">
          <label>Siguenos en Twitter Meca.Sexpress</label>
        </div>
        <div class="row">
          <img src="{% static 'core/img/instagram.png' %}" style="height: 50px; width: 70px;">
          <label>Siguenos en Instagram Mecanisxpressoficial</label>
        </div>
        <div class="row">
          <img src="{% static 'core/img/tiktok.png' %}" style="height: 50px; width: 120px;">
          <label>hacemos videos live en mecaniservixpress</label>
        </div>
      </div>

      <div class="contacto">
        <h3>
          ¿Quieres hacer una consulta, o enviarnos un mensaje?
          Escríbenos aquí
        </h3>
        <div>
          <form action="#" id="formulario">

            <div class="form-row mt-5" style="display: flex; justify-content: space-evenly;">
              <div class="col-md-4 mb-3">
                <label for="nombre">Nombre:<span class="red">*</span></label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="apellido">Apellidos:<span class="red">*</span></label>
                <input type="text" class="form-control" id="apellido" name="apellido" required>
              </div>
            </div>

            <div class="form-row" style="display: flex; justify-content: space-evenly;">
              <div class="col-md-4 mb-3">
                <label for="correo">Email:<span class="red">*</span></label>
                <input type="email" class="form-control" id="correo" name="correo" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="telefono">Teléfono:</label>
                <input type="number" class="form-control" id="telefono" name="telefono" max="999999999">
              </div>
            </div>

            <div class="form-group">
              <label for="mensaje">Mensaje:<span class="red">*</span></label>
              <textarea class="form-control" id="mensaje" name="mensaje" rows="3" min="25" required></textarea>
            </div>

            <br>

            <div class="col-12">
              <button type="submit" class="btn btn-secondary">
                <!--el "primary" al lado del btn es lo que le da el color.
                      Los colores que representa la palabra sale en bootstrap: colors-->
                ENVIAR
              </button>
            </div>
          </form>

          <script>
            $(document).ready(function () {
              $("#formulario").validate({ //esto es referencia a mi formulario
                rules: {
                  nombre: {
                    required: true,
                    minlength: 5
                  },
                  apellido: {
                    required: true,
                    minlength: 5
                  },
                  correo: {
                    required: true,
                    email: true
                  },
                  telefono: {
                    required: true,
                    minlength: 9
                  },
                  mensaje: {
                    required: true,
                    minlength: 25
                  }
                },
                messages: {
                  nombre: {
                    required: "Por favor ingrese su nombre completo",
                    minlength: "Ingrese al menos 5 caracteres"
                  },
                  apellido: {
                    required: "Por favor ingrese sus apellidos",
                    minlength: "Ingrese al menos 5 caracteres"
                  },
                  correo: {
                    required: "Por favor, ingrese su correo electrónico.",
                    email: "Por favor, introduzca una dirección de correo válida."
                  },
                  telefono: {
                    required: "Por favor, ingrese un número telefónico",
                    minlength: "Por favor, introduzca mínimo 9 números"
                  },
                  mensaje: {
                    required: "Por favor, ingrese un mensaje",
                    minlength: "Ingrese al menos 25 caracteres"
                  }
                }


              });
            });
          </script>

        </div>
        <br>
        <h4>
          O escríbenos vía whatsapp, haciendo click aquí:
        </h4>
        <a class="btn" href="https://api.whatsapp.com/send?phone=56952753778" role="button"
          style="background-color: darkslategray;">
          <img src="{% static 'core/img/whatsapp.png' %}" alt="">
        </a>

      </div>

    </div>

  </div>

  <div class="footr">
    <div class="container-footer" style="background-color: black;">
      <div class="footer" style="display: flex; justify-content: space-evenly;">
        <div class="copyright">
          © 2021 Todos los Derechos Reservados | <a href="">Mecanicles</a>
        </div>

        <div class="information">
          <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y
            Condiciones</a>
        </div>
      </div>

    </div>
  </div>
</body>