{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller SERVIEXPRESS - Principal</title>

    <!--    BOOTSTRAP    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <style>
        label.error {
            color: red;
            font-style: italics;
            line-height: 50px;
        }

        input.error {
            border-color: red;
        }

        /*Lo que sigue, fue para cambiar el estilo del "somreado azul que aparecía,
            para que aparezca como rojo cuando te pide que lo valides.*/
        input.error:focus {
            border-color: red;
            box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
        }
    </style>

    <!--    API DE MAPBOX    -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

    <!--    AQUÍ LOS .CSS    -->
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
    <!--    BOOTSTRAP Y API    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js">
    </script>



    <!--  CONTENIDO DE LA PÁGINA   -->
    <div class="header">
        <img src="{% static 'core/img/inicio2.png' %}" alt="" width="200" height="100">
        <div class="welcome">
            <h6>
                TALLER MECÁNICO
            </h6>
            <h3>
                SERVIEXPRESS
            </h3>
        </div>
        <div class="state">
            <h6>
                Bienvenido, visitante.
            </h6>
        </div>
    </div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'adminis' %}">
                <img src="{% static 'core/img/Home.png' %}" alt="" width="30" height="24" 
                    class="d-inline-block align-text-top">
                Volver Atrás
            </a>
        </div>
    </nav>

    <div class="main" style="background-color: darkslategray; padding: 2%">
        <center>
            <div class="card border-primary mb-3" style="max-width: 70%;">
                <div class="card-header" style="background-color: #84b6f4;">Ingreso de Proveedor</div>
                <div class="card-body text-primary">

                    <form action="" method="POST">

                        {% csrf_token %}

                        <div class="form-group">

                            {{ form.as_table}}

                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Entrar</button>
                        <br>
                        <div id="error" class="alert alert-warning" role="alert">
                            {{mensaje}}
                        </div>
                    </form>
        </center>

    </div>

    <div class="footr">
        <div class="container-footer" style="background-color: black;">
            <div class="footer" style="display: flex; justify-content: space-evenly;">
                <div class="copyright">
                    © 2021 Todos los Derechos Reservados | <a href="">Mecanicles</a>
                </div>

                <div class="information">
                    <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y
                        Condiciones</a>
                </div>
            </div>

        </div>
    </div>
</body>