
body {
    display:flex;
    justify-content: center;
    background-color: darkslategray;
}
.contenedor{
    width: fit-content;
}

.row {
    display: flex;
    justify-content: center;    
    width: 100%;
}

.col {
    width: fit-content;
}
.col-md-auto {
    width: fit-content ;
}       

.box{
    display: flex;
    justify-content: center;
    width: 100%;
}       

.titulo {
    color: darkolivegreen;
}

.state {
    padding-top: 4%;
    text-align: right;
    font-size: 90%;    
    color: darkolivegreen;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;    
}

.img_cambio {
    display: flex;
    justify-content: center;
}

.correos {
    display: flex;
    justify-content: center;
}

.carousel-caption{
    transform: translateY(-100%);
    bottom: initial;
    top: 25%;
}

